service cloud.firestore {
  function name(arg1) {
    let c = !true;
    let c = !get(field);
    return 1 + 3 + (2 * get("yoo"));
  }

  match /path {
    allow read;

    function fun(arg1) {
      let var1 = 3 + (4 + result["id"]);
      let var2 = true && get(f) && true;
      let var3 = "Hello";
      let var4 = 'Hello';
      let c1 = [get(field), goti];
      return var;
    }

    match /path/one {
      allow write: if var.field;
      allow delete: if var[3];
    }

    match /{path}/one {
      allow read;
      allow create: if true;
      allow update: if var.field.method().again(val["hello"]);
      allow update: if var.field.method().again(val["hello"]).field;
      allow delete: if var.indexable_field[3];
    }

    match /{path}/{wild=**} {
      allow read: if false;
      allow delete;
    }
  }

  match /path {
    allow get: if read(c);
  }
}