service cloud.firestore {
  match /path {
    allow read;

    function fun(arg1) {
      return 1 + 3;
    }

    function fun(arg1) {
      let var1 = 3 + (4 + get(c));
      let var2 = true && (get(f) || false);
      return var;
    }

    match /path/one {
      allow write: if var;
    }

    match /{path}/one {
      allow create;
    }

    match /{path}/{wild=**} {
      allow read;
    }
  }

  match /path {
    allow get;
  }
}