service cloud.firestore {
  match /path {
    allow read;

    function fun(arg1) {
      let var1 = ;
      let var2 = ;
      return var;
    }

    match /path/one {
      allow write: if var;
    }

    match /{path}/one {
      allow create;
    }

    match /{path}/{wild=**} {
      allow read;
    }
  }

  match /path {
    allow get;
  }
}