service cloud.firestore {
  function name(arg1) {
    let name = !true;
    let c = !get(field);
    let d = 1.12 + 3 + (2 * get("yoo"));
    let g = [];
    let g = [1 + 2];
    return 1.12 + 3 + (2 * get(/hello/my/$(friend)));
  }

  match /path/{id} {
    allow read;

    function fun(arg1) {
      let var1 = 3 + (4 + result["id"]);
      let var2 = true && get(f) && true;
      let var3 = "Hello";
      let var4 = 'Hello';
      let c1 = [get(field), goti];
      //comment here
      return var;
    }

    match /path/one {
      allow write: if id;
      allow delete: if var[3];
    }

    match /{path}/one {
      allow read;
      allow create: if true;
      allow update, get: if var.field.method().again(val["hello"]); //comment here
      allow update: if var.field.method().name("hello").field;
      allow delete: if var.indexable_field[3];
    }

    match /{path}/{wild=**} {
      allow read: if false;
      allow delete;
    }
  }

  match /path/{} {
    allow get: if read(c);
  }
}